dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

compile_commands.json
.vscode
.clangd

src/parse/lexer.cpp
src/parse/location.hh
src/parse/parser.cpp
src/parse/parser.hpp

cmake_install.cmake
CMakeCache.txt
CmakeFiles
build
.cache
.archive